.Instructions_wrapper {
  background-color: #222;
  color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}

.Instructions_div {
  flex: 2 0 auto;
  justify-content: space-around;
  min-height: 20vh;
}

.ControlPanel_div {
  flex: 2 0 auto;
  justify-content: space-between;
  min-height: 20%;
}

.Instructions_title {
  margin: 0px;
}

.Instructions_description {
  text-align: justify;
}

.Instructions_description, p {
  margin: auto;
  max-width: 90vw;
  padding: 16px;
  letter-spacing: 0.03em;
  font-size: 1.1em;
}

.Instructions_description > p > a {
  border: 1px solid transparent;
  border-color: white;
  color: #B86BFF;
  font-size: 1.2em;
  padding: 6px;
  text-decoration: none;
}

.Instructions_description > p > a:hover {
  background-color: white;
}

code {
  /*border: 1px solid transparent;
  border-color: #B86BFF;*/
  color: #B86BFF;
  padding: 5px;
}

.Instructions_description > pre {
  text-align: justify;
  display: flex;
  justify-content: center;
}

.Instructions_description > pre > code {
  border: 1px solid transparent;
  border-color: white;
  background-color: #fdf5db;
  padding: 1em;
  color: #212121;
}

.Instructions_description > ul > li {
  text-align: justify;
}

.Instructions_description img {
  height: 200px;
  width: 33%;
}
